* {
    margin: 0;
    padding: 0;
    outline: 0;
}

img {
    vertical-align: middle;
}


/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,700;0,800;1,900&display=swap');
/*Fonts*/



/*Header Part Start*/
#header {
    margin-top: 100px;
    position: relative;
}

.shape-right {
    position: absolute;
    height: 700px;
    width: 499px;
    background: #009fff;
    top: 10%;
    right: -360px;
    border-radius: 70px;
    transform: rotate(-25deg);
}

.menu a.nav-link {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-left: 25px;
    color: #263546 !important;
    font-weight: 500;
}

.hero {
    padding-top: 210px;
}

.hero-cont {}
}

.hero-cont h2 {}

.hero-cont h2 span {
    display: block
}

.hero-cont p {}

.btn {
    display: flex;
}

.btn .btn1 {}

.btn .btn2 {}

.hero-img img {
    width: 100%;
}

/*Header Part End*/
